body {
    margin: 20px;
}

#wrapper {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
    padding: 10px;
}

#gifbutton {
    color: white;
    background-color: lightseagreen;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 15px;
    font-size: 16px;
    text-decoration: none;
    border: none;
    display: inline-block;
}

#animal-form {
    float: right;
    margin: 5px;
    padding: 5px;
}

.animal {
    margin: 5px;
    color: white;
    background-color: lightseagreen;
    padding: 10px;
    border: none;
    display: inline-block;
    text-transform: uppercase;
}