body {
    font-family: Verdana, Tahoma, sans-serif;
}

#wrapper {
    margin: auto;
    padding: 10px;
}

/* Links */
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: black;
}

/* 'Create' GIF button */
#gifbutton {
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 7px;
    font-size: 12px;
    text-decoration: none;
    border: none;
    display: inline-block;
    text-transform: uppercase;
}

#animal-form {
    margin: 5px;
    padding: 5px;
}

/* Generated buttons */
.animal {
    margin: 5px;
    color: white;
    background-color: lightseagreen;
    padding: 10px;
    border: none;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 10px;
}

/* Generated images */
.img-container {
    padding: 2px;
    margin: 5px;
    border: 2px black solid;
    display: inline-grid;
    overflow: auto;
}