body {
    font-family: Verdana, Tahoma, sans-serif;
    margin: 5px;
}

#wrapper {
    margin: auto;
    padding: 10px;
}

#animal-buttons {
    margin-bottom: 10px;
}

/* Links */
a:link, a:visited, a:active {
    text-decoration: none;
    color: black;
}

a:hover {
    font-weight: bold;
}

/* 'Create' GIF button */
#gifbutton {
    color: white;
    margin: 10px;
    padding: 7px;
    font-size: 14px;
    text-decoration: none;
    border: none;
    display: inline-block;
    text-transform: uppercase;
}

#animal-form {
    margin: 5px;
    padding: 5px;
}

/* Generated buttons */
.animal {
    margin: 5px;
    color: white;
    background-color: #68cddb;
    padding: 10px;
    border: 2px #6c757d solid;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 10px;
}

.animal:hover {
    background-color: white;
    color: black;
    font-weight: bold;
}

/* Generated images */
.img-container {
    padding: 2px;
    margin: 5px;
    border: 2px #6c757d solid;
    display: inline-grid;
    overflow: auto;
}